<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeadUp with AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/ACM-Chapter.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/ACM-Chapter.jpg') }}" alt="ACM Chapter Logo" class="navbar-logo">
        </div>
        <a href="{{ url_for('index') }}" class="navbar-title">HeadUp with AI</a>
        <div class="navbar-menu">
            <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
            <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
            <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <section class="main-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>
